# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Output files
output_files/
*.csv
*.md

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System-specific files
.DS_Store
Thumbs.db

# Virtual environment directory
venv/